<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <title>Filmy Dialogues | CRUD-APP</title>
     <link rel="icon" type="image/x-icon" href="static/img/yinyan.gif">
     <link rel="stylesheet" type="text/css" href="static/css/style.css">
     <script src="static/js/script.js"></script>
    </head>
    <body>
      <h1>Filmy Dialogues</h1>
      <form action="/saveQuotes" method="POST">
        <input type="text" placeholder="Enter character name" name="name" required="required" pattern=".+[a-zA-Z\d]">
        <input type="text" placeholder="Enter their dialogues" name="quote" required="required">
        <button type="submit">Submit</button>
      </form>
      <div>
        <input type="checkbox" class="j-sel-quo-all cr-sel-quo-all" onclick="toggleAllCheckbox(this);" />
        <span class="j-del-sel-quo cr-del-quo fa-2x" onclick="delSelected();">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </span>
       </div>
      <div class="cr-quote-div j-quote-div" editing="false">
        <% for(var i=0; i<quotes.length; i++) {%>
          <div class="quote j-quote" style="width: 100%; display: flex;" objid="<%= quotes[i]._id %>" >
            <div style="width: 7%; float: left;">
				<% if (i < 5) { %>
	              <input type="checkbox" class="" disabled="disabled" onclick="handleSelAll();" objid="<%= quotes[i]._id %>" />
	              <span class="cr-del-quo disabled" objid="<%= quotes[i]._id %>" >
	                <i class="fa fa-trash-o" aria-hidden="true"></i>
	              </span>
				<% } else { %>
					<input type="checkbox" class="j-sel-quo" onclick="handleSelAll();" objid="<%= quotes[i]._id %>" />
					<span class="j-del-quo cr-del-quo" onclick="delThis(this)" objid="<%= quotes[i]._id %>" >
						<i class="fa fa-trash-o" aria-hidden="true"></i>
					</span>
				<% } %>
            </div>
            <div style="width: 90%; display: flex;">
				<span class="j-edit-loader hide edit-loader"  objid="<%= quotes[i]._id %>"><i class="fa fa-spinner fa-spin"></i></span>
				<span class="j-pencil-quo cr-pencil-quo" onclick="focusOn('<%= quotes[i]._id %>')">
				    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
				</span>
				<div class="j-edit-quo j-edit-name editable" onclick="toggleEditThis(this)" onkeydown="editQuoReady(event);"
				 onblur="resetEditQuo(this);" objid="<%= quotes[i]._id %>"
				 contenteditable="false" olddata="<%= quotes[i].name %>"><%= quotes[i].name %></div>
				 &nbsp;:&nbsp;
				"<div class="j-edit-quo j-edit-quote editable" onclick="toggleEditThis(this)" onkeydown="editQuoReady(event);"
				 onblur="resetEditQuo(this);" objid="<%= quotes[i]._id %>"
				   contenteditable="false" olddata="<%= quotes[i].quote %>"><%= quotes[i].quote %></div>"
				</div>
			</div>
        <% } %>
      </div>
      
	</body>
</html>